.login-card-container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-card{
    background-color: var(--taxi);
    width: 400px;
    min-height: 340px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    padding: 25px;
}

.login-card button {
    width: 100%;
}

.left{
    text-align: left;
}

.center {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .login-card-container{
        background-color: var(--taxi);
    }

    .login-card{
        width: 100%;
        border: none;
    }
}