/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
}

.close-toast-btn {
    text-align: center;
    cursor: pointer;
}

.bg-taxi {
    background-color: #fed502;
}

.text-primary {
    color: #fed502;
}