:root {
    --taxi: #fed502;
    --taxi-soft: #fed502b3;
    --sidebar-width: 280;
}


body {
    margin: 0px;
    padding: 0px;
}

.close-toast-btn {
    text-align: center;
    cursor: pointer;
}

.bg-taxi {
    background-color: var(--taxi);
}

.bg-taxi-soft{
    background-color: var(--taxi-soft);
}

.text-primary {
    color: var(--taxi);
}